* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  width: 100%;
  height: 100vh;
  background: #cec9c9;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}